.footer {
    margin-top: 20px;
	width: 100%;
	height: 100px;	
	position: absolute;
	left: 0;
	background-color: black;	
	padding: 20px 50px;	
	text-align: center;
    justify-content:center;
}

.footer a{
	color: #195e63;
}

.footer p{
	color: white;
	font-size: 13px;
}

.footer span{
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    color:darkcyan;
}