.perfil {
    margin-top: 10px;
    background-color: #f0f8ff;
    padding-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.perfil-contenido {
    display: block;
    justify-content: space-around;
    margin: 10px auto;
    text-align: center;
}

.perfil-foto {
    width: 80%;
    max-width: 250px;
    background-size: cover;
    border-radius: 50%;
    margin: 15px auto;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}

.perfil-nombre {
    font-size: 30px;
    font-weight: bold;
}

#info-datos {
    /*Tamaño adaptable*/
    font-size: 3vw;
}

.perfil-datos {
    font-weight: bold;
    line-height: 1.5;
}

.sector-datos {
    margin: 15px auto;
    font-style: italic;
}

@media (min-width: 768px) {

    .perfil-contenido {
        display: flex;
        margin-bottom: 30px;
        max-width: 992px;
    }

    .perfil-foto {
        width: 100%;
        max-width: 300px;
    }

    .perfil-nombre {
        font-size: 42px;
    }

    #info-datos {
        /*tamaño adaptable*/
        font-size: 2vw;
    }

    .perfil-datos {
        line-height: 2.2;
    }

    .sector-datos {
        margin: 40px 50px 30px;
    }

    .sector-foto {
        margin-left: 40px;
    }
}